body {
 font-family: Geneva, serif;
 font-size: 16px;
 color:#444444;
 height:80%;
 background: url(images/Background00.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}



footer {
	text-align:center;
	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

button {
	margin: 10px;
	padding: 10px;
}

section{
	padding: 15px;
	
}

h1{
	text-align: center;
}

a{
	color: #4D4949;
	text-emphasis: strong;
}

#map{
	width: 100%;
	height: 55vh;
}

#MAIN{
	color:#EB337D;
	text-shadow: .5px 1px 1px #808080;
	width: 100%;
}

#LetsDoThis{
	font-size: 20px;
}


#HOME{
	font-size: 16px;
	text-shadow: .5px .5px .5px #808080;
	color:#EB337D;
	text-decoration: none;
	font-weight: bold;
	border: 1px solid #737373;
	border-radius: 3em;
	background-color:#CCCCCC;
	padding: 5px;
	float: left;
	margin: 20px;
	}

#aboutApp{
	text-decoration:none;
	border: 1px solid #737373;
	border-radius: 3em;
	background-color:#CCCCCC;
	padding: 5px;
	float: right;
	margin: 20px;
}

#copy{
	position: relative #footer;
	position: absolute;
	bottom: 0;
	height: 10px;
	padding 0px;
}

