body {
 font-family: Geneva, serif;
 font-size: 16px;
 color:#444444;
 height:80%;
 background-color:#FFE6E6;
}

#FrontPage{
 background: url(images/Background00.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

section{
	padding: 15px;
	
}

h1{
	text-align: center;
}

a{
	color: #4D4949;
	text-emphasis: strong;
}

#map{
	width: 100%;
	height: 55vh;
	
}

#MAIN{
	color:#EB337D;
	text-shadow: .5px 1px 1px #808080;
	width: 100%;
}

#LetsDoThis{
	font-size: 20px;
	text-align:center;
}

#Continue{
	text-align:center;
}


#copy{
	 float:right;
 	 text-align: right;
 	 background-color:#7C7A80 ;
 	 display:inline;
}

#HOME{
	float:left;
    text-align: left;
    background-color:#999999;
    text-shadow: .5px .5px .5px #808080;
	color:#EB337D;
	text-decoration: none;
	display: inline;
	
}

#aboutApp{
	text-decoration:none;
	border: 1px solid #737373;
	border-radius: 3em;
	background-color:#CCCCCC;
	padding: 5px;
	float: right;
	margin: 20px;
}

footer{

}



