.wrap {
    position: relative;
    border: 1px solid #FFFFFF;
}
body {
 font-family: Geneva, serif;
 font-size: 16px;
 background-color:#FFE6E6;
 margin:0;
}
h1{
	text-align:center;
}
#FrontPage, body{
 background: url(images/Background00.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
#MAIN{
	color:#EB337D;
	text-shadow: .5px 1px 1px #808080;
	width: 100%;
}
#HOME {
	font-size: 18px;
	color:#EB337D;
    float: left;
    padding:10px;
    width:50%;
    text-decoration:none;
    height:30px;
    background-color:#FFFFFF
}
#aboutApp{
	font-size: 18px;
	float: left;
    padding:10px;
    width:50%;
    text-decoration:none;
    height:30px;
    background-color:#FFFFFF;
}
#copy {
    position: absolute;
    padding:10px;
    top: 0;
    right: 0;
    background-color: #888;
    width:50%;
}

#map{
	width: 100%;
	height: 65vh;	
}
footer{
	position:absolute;
	bottom:0;
	width:100%;
}
#storeData{
  margin      : 0;
  padding     : 0;
  border      : 0;
  background  : transparent;
  font-family : inherit;
  cursor      : pointer;
}
#storeData::-moz-focus-inner{
  padding : 0;
  border  : 0;
}
.wrapper{
	width:100%;
	height:20%;
}
.firstThree {
  float:left;
  width:33%;
  background:#7C7A80;
  padding-top:10%;
  text-decoration:none;
}
.secondThree {
  float:left;
  width:34%;
  background:#CCCCCC;
  text-decoration:none;
  padding-top:10%;
}
.thirdThree {
  float:left;
  width:33%;
  background:#AAAAAA ;
  text-decoration:none;
  padding-top:10%;
}
.firstThree, .secondThree, .thirdThree{
	font-size:20px;
}
#results{
	position:relative;
	top:50px;
	color:#000000 ;
	text-shadow: .5px 1px 1px #808080;
	border-style:solid;
	border-color:#444444;
	border-width:1px;
	width: 100%;
	font-size:24px;
	padding:25px;
    background-color:#AAAAAA ;
    text-decoration:none;
}
