.wrap {
    position: relative;
    border: 1px solid transparent;
}
.wrapper{
	width:100%;
	height:20%;
	display:inline-block;
}
body {
 font-family: Geneva, serif;
 font-size: 18px;
 background-color:#FFE6E6;
 text-align:center;
 margin:0 0 100px;
}
h1{
	text-align:center;
}
#FrontPage, body{
 background: url(images/Background00.jpg) no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
#MAIN{
	color:#EB337D;
	text-shadow: .5px 1px 1px #808080;
	width: 100%;
}
#aboutPage{
	overflow:auto;
	padding:8px;
	width:90%;
	height:80vh;
}
#HOME {
	font-size: 18px;
	color:#EB337D;
    float: left;
    padding:10px;
    width:50%;
    text-decoration:none;
    height:90px;
}
#HOME:hover{
	border: 2px solid #444444 ;
    background-color: #444444;
}
#aboutApp{
	font-size: 20px;
	float: left;
    padding:10px;
    width:50%;
    text-decoration:none;
    height:90px;
    background-color:#FFE6E6;
}
#copy {
    position: absolute;
    padding:10px;
    top: 0;
    right: 0;
    bottom:0;
    width:50%;
    height:100px;
}
html{
	position:relative;
	min-height:100%;
}
#map{
	width: 100%;
	height: 75vh;	
}
footer{
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:120px;
	background-color:#FFE6E6;
}

.firstThree {
  float:left;
  width:32%;
  padding-top:0px;
  text-decoration:none;
  height:54px;
  border: transparent solid 2px;
}
.secondThree {
  float:left;
  width:32%;
  background:#CCCCCC;
  text-decoration:none;
  padding-top:0px;
  height:50px;
  border: transparent solid 2px;
}
.thirdThree {
  float:left;
  width:32%;
  background:#AAAAAA ;
  text-decoration:none;
  padding-top:0px;
  height:50px;
  border: transparent solid 2px;
}
.firstThree, .secondThree, .thirdThree{
	font-size:20px;
}
#results{
	position:relative;
	top:50px;
	color:#000000 ;
	text-shadow: .5px 1px 1px #808080;
	border-style:solid;
	border-color:#444444;
	border-width:1px;
	width: 100%;
	font-size:24px;
	padding:20px;
    background-image: linear-gradient(silver, #f5f6f6);
    text-decoration:none;
    border-radius: 40px;
    
}
#control:hover,#control0:hover, #storeData:hover{
    border: 2px solid #EF5C97;
    background-color: #EF5C97;
}
#results:hover{
	background-image: linear-gradient(#EB337D, #FFFFFF);
}
#small, #copy{
	font-size: 16px;
}
